.header {
text-align: left;
font-size: 20px;
color: black;
}

table {
    text-align: center;
    table-layout: auto;
}

td{
    text-align: center;

}
input{
   text-align: center;
   
}

.body{
    table-layout: auto;
}

